<ion-modal-view>
  <ion-header-bar>
    <h1 class="title center">Facebook Direct Share</h1>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input ng-model="postName" type="text" placeholder="John">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Image URL</span>
          <input ng-model="image" type="text" placeholder="www.image.com/images/image1.png">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Caption</span>
          <input ng-model="caption" type="text" placeholder="Example Caption">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <input ng-model="description" type="text" placeholder="Example Description">
        </label>
      </div>
    </form>
    <div class="row">
      <div class="col col-50"></div>
      <button type="submit" ng-click="shareToFacebookUsingDirectPost(image,postName,caption, description)" class="button button-large button-dark col">Post</button>
    </div>
  </ion-content>
  </ion-view>
</ion-modal-view>
