<ion-view view-title="Facebook Photo Share">
  <ion-content>
    <form>
​
      <img  ng-src="{{photo}}">
      <br />
      <button class="button icon ion-camera" ng-click="chooseImageSourceType()">Add Image</button>
​
      <label class="item item-input item-stacked-label">
        <span class="input-label">Message</span>
        <input type="text" placeholder="Example Message">
      </label>
    </form>
    <div class="row">
      <div class="col col-50"></div>
      <button type="submit" class="button button-large button-dark col">Post Image</button>
    </div>
  </ion-content>
  </ion-view>
