<ion-view view-title="Facebook Posts">
  <ion-content>
    <button ng-click='shareToFacebookUsingFeedDialog(image,postName, caption, description)' class="button button-full button-positive">
      Feed Dialog
    </button>
    <button ng-click="shareToFacebookUsingDirectPostView()" class="button button-full button-calm">
      Direct Post
    </button>
    <button ng-click="shareToFacebookUsingLocalStorageImageView()" class="button button-full button-balanced">
      Photo Share
    </button>
  </ion-content>
</ion-view>
