<ion-view view-title="Facebppk Direct Share">
  <ion-content>
  <form>
    <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Name</span>
      <input type="text" placeholder="John">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Image URL</span>
      <input type="text" placeholder="www.image.com/images/image1.png">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Caption</span>
      <input type="text" placeholder="Example Caption">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Description</span>
      <input type="text" placeholder="Example Description">
    </label>
  </div>
  </form>
  <div class="row">
    <div class="col col-50"></div>
    <button type="submit" class="button button-large button-dark col">Post</button>
  </div>
  </ion-content>
</ion-view>
